@charset "UTF-8";
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* основной цвет текста */
/* вторичный цвет текста (цвет заголовков) */
/* цвет акцента  и основной цвет кнопки)   */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--pb0 {
  padding-bottom: 0;
}

.section--bg-grey {
  background-color: #f5f4fa;
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

/* CONTAINER */
.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .hidden-tablet {
    display: none;
  }
}

.no-scroll {
  overflow: hidden;
}

/* --------- logo ------------------------ */
.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}

.logo span {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
  }
}

.mobile-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: white;
}

@media screen and (max-width: 479px) {
  .is-open .mobile-menu {
    padding: 48px 15px 78px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .is-open .mobile-menu {
    padding: 48px 30px 78px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .is-open .mobile-menu__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    opacity: 1;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
    overflow-y: scroll;
  }
}

.mobile-menu__list {
  list-style: none;
  margin-bottom: 32px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.mobile-menu__link.active {
  color: #2196f3;
}

.mobile-menu__contact-list {
  list-style: none;
  margin-bottom: 64px;
}

.mobile-menu__contact-item:not(:last-child) {
  margin-bottom: 36px;
}

.mobile-menu__address {
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu__mail {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mobile-menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
}

.mobile-menu__social-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.mobile-menu__wrapper {
  margin-top: auto;
}

.mobile-menu__social-item {
  position: relative;
}

.mobile-menu__social-item:not(:last-child) .mobile-menu__social-link::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  height: 100%;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.btn {
  min-width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* margin-top: 16px; */
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social--grey .social__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 5;
}

.backdrop--white {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 5;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe-form__input {
  width: 100%;
  max-width: 450px;
  padding: 15px 16px;
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--second-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
    height: 50px;
  }
}

.subscribe-form__button::after {
  content: '';
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/form/icon-send.svg);
}

.form {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .form {
    width: 370px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    width: 450px;
  }
}

.form__list {
  display: block;
  margin-bottom: 20px;
  list-style: none;
}

.form__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__item:not(:last-child) {
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input, .form__comment {
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #000000;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form__input:focus, .form__comment:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: none;
}

.form__input-icon {
  position: absolute;
  bottom: 0;
  top: 20px;
  left: 12px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__input-icon, .form__comment:focus + .form__input-icon {
  fill: #2196f3;
}

.form__comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  width: 100%;
}

.form__comment::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:-ms-input-placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::-ms-input-placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 480px) {
  .form__comment {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .form__comment {
    width: 448px;
  }
}

.form__checkbox-label {
  position: relative;
  padding-left: 24px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .form__checkbox-label {
    margin-left: 12px;
    margin-right: 11px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__checkbox-link {
  color: #2196f3;
  margin: 0;
  padding: 0;
}

.form__checkbox-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 15px;
  background-image: url(../images/form/checkbox.svg);
  -webkit-transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:checked + .form__checkbox-icon {
  background-image: url(../images/form/icon-check.svg);
}

.form__button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.form__button:hover {
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/* -------------------------------------- MODAL ------------------------------------------ */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  max-height: 100vh;
  padding: 40px 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.95) translate(-50%, -50%);
          transform: scale(0.95) translate(-50%, -50%);
}

@media screen and (min-width: 480px) {
  .modal {
    padding: 40px 40px;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    padding: 40px 40px;
    width: 528px;
  }
}

.modal__close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__close-icon {
  width: 11px;
  height: 11px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover .modal__close-icon {
  fill: #2196f3;
}

.modal__title {
  margin-bottom: 12px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .main-nav {
    height: 60px;
  }
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 83px;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .main-nav__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav__list {
    margin-left: 93px;
  }
}

.main-nav__item {
  position: relative;
}

.main-nav__item:not(:last-child) {
  display: block;
  margin-right: 50px;
  text-decoration: none;
}

.main-nav__link {
  display: block;
  padding: 32px 0;
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__link:hover, .main-nav__link:focus {
  color: #2196f3;
}

.main-nav__link--active {
  color: #2196f3;
}

.main-nav__link--active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
}

.contact-list {
  list-style: none;
}

@media screen and (max-width: 767px) {
  .contact-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact-list {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__item + .contact-list__item {
    margin-left: 50px;
  }
}

.contact-list__link {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  text-decoration: none;
}

.contact-list__link:hover, .contact-list__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list__link--top {
    padding-top: 21px;
    padding-bottom: 5px;
  }
  .contact-list__link--bottom {
    padding-top: 5px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contact-list__icon--envelope {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .contact-list__icon--envelope {
    margin-right: 10px;
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__icon--envelope {
    width: 16px;
    height: 12px;
  }
}

.contact-list__icon--smartphone {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .contact-list__icon--smartphone {
    margin-right: 10px;
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__icon--smartphone {
    width: 10px;
    height: 16px;
  }
}

.main-nav__toggler {
  position: absolute;
  z-index: 4;
  top: 10px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.main-nav__toggler:hover, .main-nav__toggler:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .main-nav__toggler {
    display: none;
  }
}

.svg-buttons {
  fill: currentColor;
}

.icon-menu {
  display: block;
}

.icon-menu-close {
  display: none;
}

.is-open .icon-menu {
  display: none;
}

.is-open .icon-menu-close {
  display: block;
}

/* ---------------------- ---------- HERO -----------------------------------------*/
.hero {
  height: 400px;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(45deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/home/hero/mobile/img@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(45deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/home/hero/mobile/img@2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    max-width: 768px;
    padding: 118px 60px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(45deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/home/hero/tablet/img@2x.jpg);
    max-width: 1200px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(45deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/home/hero/tablet/img@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(45deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/home/hero/desctop/img@1x.jpg);
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(45deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/home/hero/desctop/img@2x.jpg);
  }
}

.hero__wrapper {
  text-align: center;
}

@media screen and (max-width: 479px) {
  .hero__wrapper {
    padding: 58px 30px;
  }
}

.hero__title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61538;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  margin: auto;
  padding: 10px 32px;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .hero__button {
    margin-top: 30px;
  }
}

/* --------------------- What are we doing --------------*/
.we-doing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.we-doing__item {
  position: relative;
  width: 370px;
}

.we-doing__item:not(:last-child) {
  margin-right: 30px;
}

.we-doing__box {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 70px;
  width: 100%;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.we-doing__subtitle {
  text-align: center;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ------------------- FEATURE-LIST-------------------------------------- */
.features {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .section .features {
    margin-bottom: 60px;
  }
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.features__item {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .features__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

.features__title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

@media screen and (max-width: 479px) {
  .features__title {
    text-align: center;
  }
}

/* ---------------------------- OUR TEAM ---------------------------------------------------- */
.our-team {
  display: block;
}

@media screen and (min-width: 768px) {
  .our-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.our-team__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  list-style: none;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .our-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .our-team__item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__item {
    width: 270px;
  }
}

.our-team__photo {
  width: 100%;
}

.our-team__wrapper {
  padding: 30px 24px;
}

.our-team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team__content {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ----------------------------------  - CLIETS- -------------------------------------------- */
@media screen and (min-width: 480px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}

.clients__items {
  list-style: none;
}

@media screen and (max-width: 479px) {
  .clients__items:not(:last-child) {
    margin-bottom: 30px;
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

@media screen and (min-width: 480px) {
  .client__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}

.client__icon {
  fill: currentColor;
}

.portfolio-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  list-style: none;
}

.portfolio-filter .button {
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .portfolio-filter .button {
    margin-bottom: 15px;
  }
}

.portfolio-filter .item:not(:last-child) {
  margin-right: 5px;
}

.portfolio-filter .btn-active,
.portfolio-filter .button:hover,
.portfolio-filter .button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .portfolio-filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

/* ------------------------------------ PORTFOLIO ----------------------------------------- */
.portfolio-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio-projects .item {
  width: 370px;
  list-style: none;
}

@media screen and (min-width: 480px) {
  .portfolio-projects .item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-projects .item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-projects .item {
    width: 370px;
  }
}

.portfolio-projects .overlay-box {
  position: relative;
  overflow: hidden;
}

.portfolio-projects .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .portfolio-projects .overlay {
    padding: 49px 24px 77px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-projects .overlay {
    padding: 63px 24px;
  }
}

.portfolio-projects .overlay-text {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .portfolio-projects .overlay-text {
    font-size: 18px;
  }
}

.portfolio-link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover, .portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .portfolio-link {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-wrapper {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-wrapper .title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-wrapper .content {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

/* --------------------------------------- FOOTER --------------------------------------- */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer_wrapper {
    margin-right: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__block {
    text-align: start;
    margin-right: 70px;
    width: 231px;
  }
}

.footer__logo {
  margin-bottom: 20px;
  color: #ffffff;
}

.footer__address {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__list {
  margin-top: 8px;
  list-style: none;
}

.footer__item + .footer__item {
  margin-top: 8px;
}

.footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .footer__social {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    text-align: start;
  }
}

@media screen and (max-width: 1199px) {
  .footer__subscribe {
    margin-top: 60px;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: start;
  }
}

.subscribe-form__button {
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */