.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;

  .container {
    @media screen and (min-width: $medium) {
      display: flex;
    }
  }
}

.main-nav {
  height: 60px;
  display: flex;
  align-items: center;
}

.main-nav__list {
  @media screen and (max-width: ($medium - 1px)) {
    display: none;
  }
  @media screen and (min-width: $medium) {
    display: flex;
  }
}

.contact-list {
  list-style: none;

  @media screen and (max-width: ($medium - 1px)) {
    display: none;
  }

  @media screen and (min-width: $medium) {
    display: block;
    margin-left: auto;
  }
}

.contact-list__link {
  text-decoration: none;
}

.main-nav__toggler {
  position: absolute;
  z-index: 4;
  top: 10px;
  right: 15px;

  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: 0;

  svg {
    width: 40px;
    height: 40px;
  }

  @media screen and(min-width: $medium) {
    display: none;
  }
}

.icon-close {
  display: block;
}
.icon-open {
  display: none;
}

.is-open .icon-close {
  display: none;
}

.is-open .icon-open {
  display: block;
}
