/* ------------------------------------ PORTFOLIO ----------------------------------------- */

// ------------------ portfolio-projects -------------------------------------------
.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  // margin: -15px;
  gap: 30px;

  .item {
    width: 370px;
    // margin: 15px;

    list-style: none;

    @media screen and (min-width: $small) {
      width: 450px;
    }

    @media screen and (min-width: $medium) {
      width: 354px;
    }

    @media screen and (min-width: $large) {
      width: 370px;
    }
  }

  .overlay-box {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px 15px;

    background: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $small) {
      padding: 49px 24px 77px;
    }

    @media screen and (min-width: $large) {
      padding: 63px 24px;
    }
  }

  .overlay-text {
    font-size: 16px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $white-color;

    @media screen and (min-width: $small) {
      font-size: 18px;
    }
  }
}

// ------------------ portfolio-wrapper -------------------------------------------

.portfolio-link {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: $medium) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}

.portfolio-wrapper {
  width: 100%;
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;

  .title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $heading-color;
  }

  .content {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $main-color;
  }
}
