/* -------------------------------------- MODAL ------------------------------------------ */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 95%;
  max-height: 100vh;

  padding: 40px 20px;

  background-color: $white-color;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop.is-hidden & {
    transform: scale(0.95) translate(-50%, -50%);
  }

  @media screen and (min-width: $small) {
    padding: 40px 40px;
    width: 450px;
  }

  @media screen and (min-width: $large) {
    padding: 40px 40px;
    width: 528px;
  }
}

.modal__close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $white-color;

  border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;
}
.modal__close-icon {
  width: 11px;
  height: 11px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__close-button:hover & {
    fill: $accent-color;
  }
}

.modal__title {
  margin-bottom: 12px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: $heading-color;
}
