$background-color: #ffffff;
$main-color: #757575; /* основной цвет текста */
$heading-color: #212121; /* вторичный цвет текста (цвет заголовков) */
$accent-color: #2196f3; /* цвет акцента  и основной цвет кнопки)   */
$white-color: #ffffff;
$second-background-color: #2f303a;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$section-color: #f5f4fa;

// breakpoint

$small: 480px;
$medium: 768px;
$large: 1200px;
